<?xml version="1.0"?>
<!--
/**
 * Zkilleman_GeoIP
 *
 * Copyright (C) 2012 Henrik Hedelund (henke.hedelund@gmail.com)
 *
 * This file is part of Zkilleman_GeoIP.
 *
 * Zkilleman_GeoIP is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Zkilleman_GeoIP is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Zkilleman_GeoIP. If not, see <http://www.gnu.org/licenses/>.
 *
 * @category  Zkilleman
 * @package   Zkilleman_GeoIP
 * @author    Henrik Hedelund <henke.hedelund@gmail.com>
 * @copyright 2012 Henrik Hedelund (henke.hedelund@gmail.com)
 * @license   http://www.gnu.org/licenses/lgpl.html GNU LGPL
 * @link      https://github.com/henkelund/magento-zkilleman-geoip
 */
-->
<config>
    <modules>
        <Zkilleman_GeoIP>
            <version>0.2.3.0</version>
        </Zkilleman_GeoIP>
    </modules>
    <global>
        <models>
            <geoip>
                <class>Zkilleman_GeoIP_Model</class>
                <resourceModel>geoip_resource</resourceModel>
            </geoip>
            <geoip_resource>
                <class>Zkilleman_GeoIP_Model_Resource</class>
                <entities>
                    <country>
                        <table>geoip_country</table>
                    </country>
                    <country_tmp>
                        <table>geoip_country_tmp</table>
                    </country_tmp>
                    <country_ipv6>
                        <table>geoip_country_ipv6</table>
                    </country_ipv6>
                    <country_ipv6_tmp>
                        <table>geoip_country_ipv6_tmp</table>
                    </country_ipv6_tmp>
                </entities>
            </geoip_resource>
        </models>
        <resources>
            <geoip_setup>
                <setup>
                    <module>Zkilleman_GeoIP</module>
                </setup>
            </geoip_setup>
        </resources>
        <index>
            <indexer>
                <geoip_country>
                    <model>geoip/indexer_country</model>
                </geoip_country>
                <geoip_country_ipv6>
                    <model>geoip/indexer_ipv6_country</model>
                </geoip_country_ipv6>
            </indexer>
        </index>
        <helpers>
            <geoip>
                <class>Zkilleman_GeoIP_Helper</class>
            </geoip>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <geoip_before_controller>
                        <class>geoip/observer</class>
                        <method>predispatch</method>
                    </geoip_before_controller>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_render_before_checkout_onepage_index>
                <observers>
                    <geoip_before_checkout_render>
                        <class>geoip/observer</class>
                        <method>checkoutPrerender</method>
                    </geoip_before_checkout_render>
                </observers>
            </controller_action_layout_render_before_checkout_onepage_index>
        </events>
        <geoip>
            <country>
                <sources>
                    <maxmind>
                        <label>MaxMind GeoLite</label>
                        <resourceModel>geoip/indexer_country_maxmind</resourceModel>
                    </maxmind>
                </sources>
            </country>
            <country_ipv6>
                <sources>
                    <maxmind>
                        <label>MaxMind GeoLite IPv6</label>
                        <resourceModel>geoip/indexer_country_ipv6_maxmind</resourceModel>
                    </maxmind>
                </sources>
            </country_ipv6>
            <maxmind>
                <country>
                    <zip_url><![CDATA[http://geolite.maxmind.com/download/geoip/database/GeoIPCountryCSV.zip]]></zip_url>
                </country>
                <country_ipv6>
                    <gzip_url><![CDATA[http://geolite.maxmind.com/download/geoip/database/GeoIPv6.csv.gz]]></gzip_url>
                </country_ipv6>
            </maxmind>
        </geoip>
    </global>
    <default>
        <geoip>
            <general>
                <set_addresses_country>1</set_addresses_country>
                <store_redirect>1</store_redirect>
            </general>
            <import>
                <country_source>maxmind</country_source>
                <country_ipv6_source>maxmind</country_ipv6_source>
            </import>
        </geoip>
    </default>
</config>
