<?xml version="1.0"?>
<!--
/**
 * Zkilleman_GeoIP
 *
 * Copyright (C) 2012 Henrik Hedelund (henke.hedelund@gmail.com)
 *
 * This file is part of Zkilleman_GeoIP.
 *
 * Zkilleman_GeoIP is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Zkilleman_GeoIP is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Zkilleman_GeoIP. If not, see <http://www.gnu.org/licenses/>.
 *
 * @category  Zkilleman
 * @package   Zkilleman_GeoIP
 * @author    Henrik Hedelund <henke.hedelund@gmail.com>
 * @copyright 2012 Henrik Hedelund (henke.hedelund@gmail.com)
 * @license   http://www.gnu.org/licenses/lgpl.html GNU LGPL
 * @link      https://github.com/henkelund/magento-zkilleman-geoip
 */
-->
<config>
    <sections>
        <geoip translate="label" module="geoip">
            <label>Zkilleman GeoIP</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>999999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Set to 'No' to disable all features]]></comment>
                        </enabled>
                        <set_addresses_country translate="label comment">
                            <label>Set Addresses Country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Use IP lookup to set initial quote addresses country]]></comment>
                        </set_addresses_country>
                    </fields>
                </general>
                <redirect translate="label">
                    <label>Redirect Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable Store Redirect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Redirect to store view with matching default country or locale]]></comment>
                        </enabled>
                        <allowed_websites translate="label comment">
                            <label>Allowed Redirect Websites</label>
                            <frontend_type>multiselect</frontend_type>
                            <frontend_model>geoip/adminhtml_form_field_websites</frontend_model>
                            <depends><enabled>1</enabled></depends>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Stay within these websites when redirecting]]></comment>
                        </allowed_websites>
                        <logging_enabled translate="label comment">
                            <label>Log Redirects</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Log redirect reason to Zkilleman_GeoIP.log]]></comment>
                        </logging_enabled>
                        <allowed_routes translate="label comment">
                            <label>Redirect Restrictions</label>
                            <frontend_type>select</frontend_type>
                            <source_model>geoip/config_source_redirect_routerestrictions</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowed_routes>
                        <routes_whitelist translate="label comment">
                            <label>Allowed Redirect Routes</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>geoip/config_source_redirect_allroutes</source_model>
                            <depends><allowed_routes>1</allowed_routes></depends>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Modules from which redirects are allowed.]]></comment>
                        </routes_whitelist>
                        <routes_blacklist translate="label comment">
                            <label>Disallowed Redirect Routes</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>geoip/config_source_redirect_allroutes</source_model>
                            <depends><allowed_routes>2</allowed_routes></depends>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Modules from which redirects are denied.]]></comment>
                        </routes_blacklist>
                    </fields>
                </redirect>
                <import translate="label">
                    <label>Import Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cron_country_enabled translate="label comment">
                            <label>Enable Auto Import</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_country_enabled>
                        <cron_country_time translate="label comment">
                            <label>Auto Import Time</label>
                            <frontend_type>time</frontend_type>
                            <!--depends><cron_country_enabled>1</cron_country_enabled></depends-->
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_country_time>
                        <cron_country_frequency translate="label comment">
                            <label>Auto Import Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cron_frequency</source_model>
                            <backend_model>geoip/system_config_backend_country_cron</backend_model>
                            <!--depends><cron_country_enabled>1</cron_country_enabled></depends-->
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_country_frequency>
                        <country_source translate="label comment">
                            <label>Country Ranges Data Source</label>
                            <frontend_type>select</frontend_type>
                            <source_model>geoip/config_source_country_sources</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Service used to popuplate country ip ranges database]]></comment>
                        </country_source>
                        <cron_country_ipv6_enabled translate="label comment">
                            <label>Enable IPv6 Auto Import</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_country_ipv6_enabled>
                        <cron_country_ipv6_time translate="label comment">
                            <label>IPv6 Auto Import Time</label>
                            <frontend_type>time</frontend_type>
                            <!--depends><cron_country_ipv6_enabled>1</cron_country_ipv6_enabled></depends-->
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_country_ipv6_time>
                        <cron_country_ipv6_frequency translate="label comment">
                            <label>IPv6 Auto Import Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cron_frequency</source_model>
                            <backend_model>geoip/system_config_backend_country_ipv6_cron</backend_model>
                            <!--depends><cron_country_ipv6_enabled>1</cron_country_ipv6_enabled></depends-->
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_country_ipv6_frequency>
                        <country_ipv6_source translate="label comment">
                            <label>Country IPv6 Ranges Data Source</label>
                            <frontend_type>select</frontend_type>
                            <source_model>geoip/config_source_country_ipv6_sources</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Service used to popuplate country IPv6 ranges database]]></comment>
                        </country_ipv6_source>
                    </fields>
                </import>
            </groups>
        </geoip>
    </sections>
</config>
